body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.glitch-text {
    font-size: 24px;
    color: yellow;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: pink;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.title:hover {
    color: #ff1493; /* Brighter pink on hover */
}

.ascii-art {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 1;
    white-space: pre;
    margin: 20px 0;
    background: linear-gradient(90deg, #ff69b4, #ff1493, #ff85c2, #ff99cc, #ff85c2, #ff1493, #ff69b4);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 10s linear infinite;
}

.gradient-text {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    background: linear-gradient(90deg, #ff69b4, #ff1493, #ff85c2, #ff99cc, #ff85c2, #ff1493, #ff69b4);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 10s linear infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
